[Desktop Entry]
Name=Avito
Exec=webapp-container --app-id="avitoapp.turrbor" --user-agent-string='Mozilla/5.0 (Linux; Android 8.0.0; Pixel Build/OPR3.170623.007) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.98 Mobile Safari/537.36' --webappUrlPatterns=http://avito.ru,http://*.avito/ru/* --store-session-cookies --multisample --gles --fullscreen --disable-gpu http://avito.ru
Icon=assets/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
